doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
  body
    header
      h1 Plan tonight?
      h3 See which bars are hoppin' tonight and RSVP ahead of time! Remember: take a cab and drink responsibly.
    block content
